/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tab_button {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tab_button:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tab_content {
  background-color: black;
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
